<div class="sidebar-container">
  <div class="sidebar-logo">
    Admin Panel
  </div>
  <ul class="sidebar-navigation">
    <li class="header">Navigation</li>
    <li>
      <a [routerLink]="['/home/main']" routerLinkActive="router-link-active" >
        <i class="fa fa-home" aria-hidden="true"></i> Homepage
      </a>
    </li>

    <li class="header">Dashboard</li>
    <li>
      <a [routerLink]="['/admin/category']" routerLinkActive="router-link-active" >
        <i class="fa fa-users" aria-hidden="true"></i> Category
      </a>
    </li>
    <li>
      <a [routerLink]="['/admin/blog']" routerLinkActive="router-link-active" >
        <i class="fa fa-cog" aria-hidden="true"></i> Blog
      </a>
    </li>

  </ul>
</div>

<div class="content-container">

  <div class="container-fluid">
<router-outlet></router-outlet>

  </div>
</div>
